@import "../..../styles/config";

.mail-invitation-signup__layout.mail-invitation-signup__layout  {
  min-height: 100vh;
  justify-content: center;
}

.mail-invitation-signup__submit {
  margin-top: $spacing-big;
  text-align: center;
}

