@import "../../../../../styles/config";

.reset-password-update-success {
  text-align: center;
  font-size: $fontSize-large;
  font-weight: $fontWeight-bold;
}

.reset-password-update-success__redirect {
  margin-top: $spacing-big;
}
