@import "../../../../../styles/config";

.reset-password-request-success {
  text-align: center;
  font-size: $fontSize-large;
  font-weight: $fontWeight-bold;
  max-width: 700px;
  margin: 0 auto;
}
