@import "../../../styles/config";

.reset-password-request__layout.reset-password-request__layout  {
    min-height: 100vh;
    justify-content: center;
}

.reset-password-request__submit {
    margin-top: $spacing-big;
    text-align: center;
}


